{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</head>
<body>
    <div style="margin: 100px auto;" class="row d-flex justify-content-center container">
        <div class="col-md-8">
            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="fa fa-tasks"></i>&nbsp;Task Lists</div>
                    <div style="margin-left: 500px;" class="d-block text-right"><a href="{% url 'logout' %}" class="btn btn-primary button">Logout</a></div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class=" list-group list-group-flush">
                                    {% for task in tasks %}
                                    <li class="list-group-item">
                                        <div class="todo-indicator bg-warning"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">{{task.title}} 
                                                        {% if task.complete %}
                                                        <div class="badge badge-success ml-2">Completed</div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="widget-subheading"><i>{{task.desc}}</i></div>
                                                </div>
                                                <div class="widget-content-right"> <button class="border-0 btn-transition btn btn-outline-success"><a style="color: green;" href="{% url 'edittask' task.id %}"><i class="fa fa-edit"></i></a></button> <a href="deletetask/{{task.id}}" class="border-0 btn-transition btn btn-outline-danger button"> <i class="fa fa-trash"></i> </a> </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% csrf_token %}
                                   {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
                <div class="d-block text-right card-footer"><a href="{% url 'addtask' %}" class="btn btn-primary button">Add Task</a></div>
            </div>
        </div>
    </div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="{% static 'js/sweetalert.min.js' %}"></script>



{% for msg in messages %}
<script>
  swal(
      	'{{msg}}'
    )
</script>
{% endfor %}

</body>
</html>